html, body {
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 20px;
}

.content {
  /* width: 1080px;
  height: 1920px; */
  /* box-shadow: 0 0.1rem 0.2rem rgba(53,64,80,.12), 0 0.05rem 0.25rem rgba(53,64,80,.24); */
}

.img-fluid {
  max-width: 100%;
  height: 200px;
  width: 200px;
}

.hero-img {
  margin: 0 auto;
  float: none;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.hero-img > div > img {
  margin: 0 auto;
  float: none;
  text-align: center;
  border: 20px solid rgba(0, 0, 0, 0.17);
  border-radius: 50%;
}

.img-border {
  height: 240px;
  width: 240px;
  border: 20px solid rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  border-radius: 50%;
}

.center {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}


.info_nome {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.info_cargo {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.iam {
  background-color: #BD5D7C;
  opacity: 0.9;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.info-icone {
  margin-right: 10px;
}

.info_item {
  display: flex;
}

.info-content {
  font-size: 14px;
  opacity: 0.9;
}

.contato {
  display: flex;
  margin-top: 10px;
}

.oab {
  position: relative;
  display: flex;
}

.oab_img {
  margin-left: 20px;
}

.oab_texto {
  position: absolute;
  margin-top: 3px;
  margin-left: 70px;
  font-weight: bold;
}

ul {
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  display: flex;
  color: #000000;
}

/* @media screen and (min-width: 28.75em) { */
@media screen and (min-width: 25.875em) {
  .header {
    height: 40px;
  }
  .hero-img {
    margin-bottom: 60px;
  }
  .info_nome {
    font-size: 42px;
  }
}
